<a href="https://colab.research.google.com/github/venkatavellanki/venkatavellanki/blob/main/Task_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = tuple1 + tuple2
print(result)

(1, 2, 3, 4, 5, 6)

In [2]:
my_tuple = (1, 2, 2, 3, 2, 4)
count = my_tuple.count(2)
print(count)

3

In [3]:
my_tuple = (10, 20, 30, 40)
index = my_tuple.index(30)
print(index)

2

In [4]:
my_list = [1, 2, 3, 4]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4)

In [5]:
nested = ((1, 2), (3, 4), (5, 6))
print(nested[1])
print(nested[1][0])

(3, 4)
3

In [6]:
my_tuple = (10, 20, 30)
print(20 in my_tuple)

True

In [7]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

my_set.remove(2)

my_set.discard(5)
print(my_set)

{1, 2, 3, 4}
{1, 3, 4}

In [8]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union = set1 | set2
print(union)

{1, 2, 3, 4, 5}

In [9]:
intersection = set1 & set2
print(intersection)

{3}

In [11]:
difference = set1 - set2
print(difference)

{1, 2}

In [13]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

union_set = set1 | set2

intersection_set = set1 & set2

difference_set = set1 - set2

print("Set 1:", set1)
print("Set 2:", set2)
print("Union:", union_set)
print("Intersection:", intersection_set)
print("Difference (set1 - set2):", difference_set)

Set 1: {1, 2, 3, 4}
Set 2: {3, 4, 5, 6}
Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference (set1 - set2): {1, 2}

In [15]:
my_set = {1, 2, 3, 4, 5}
print("Initial set:", my_set)

num_to_add = 7
my_set.add(num_to_add)
print("After adding", num_to_add, ":", my_set)

num_to_remove = 3
if num_to_remove in my_set:
    my_set.remove(num_to_remove)
    print("After remove()", num_to_remove, ":", my_set)
else:
    print(num_to_remove, "not found, remove() would cause an error")

num_to_discard = 10
my_set.discard(num_to_discard)
print("After discard()", num_to_discard, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
After adding 7 : {1, 2, 3, 4, 5, 7}
After remove() 3 : {1, 2, 4, 5, 7}
After discard() 10 : {1, 2, 4, 5, 7}

In [16]:
fs1 = frozenset([1, 2, 3, 4])
fs2 = frozenset([3, 4, 5, 6])

print("Frozenset 1:", fs1)
print("Frozenset 2:", fs2)

union_result = fs1 | fs2
print("Union:", union_result)

intersection_result = fs1 & fs2
print("Intersection:", intersection_result)

try:
    fs1.add(7)  # This will raise an AttributeError
except AttributeError as e:
    print("Error:", e)

Frozenset 1: frozenset({1, 2, 3, 4})
Frozenset 2: frozenset({3, 4, 5, 6})
Union: frozenset({1, 2, 3, 4, 5, 6})
Intersection: frozenset({3, 4})
Error: 'frozenset' object has no attribute 'add'

In [18]:
sentence = input("Enter a sentence: ")

words = sentence.split()

unique_words = set(words)

print("Unique words:", unique_words)

Enter a sentence: hello world hello everyone
Unique words: {'everyone', 'hello', 'world'}