<a href="https://colab.research.google.com/github/venkatavellanki/venkatavellanki/blob/main/Task_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
my_list = [1, 2, 3, 4, 5]
reversed_list = my_list[::-1]
print("Reversed list:", reversed_list)

Reversed list: [5, 4, 3, 2, 1]

In [3]:
my_list = [10, 20, 30, 40, 50]
total = sum(my_list)
print("Sum of elements:", total)

Sum of elements: 150

In [4]:
my_list = [12, 45, 78, 34, 89, 23]
largest = max(my_list)
print("Largest element:", largest)

Largest element: 89

In [5]:
my_list = [1, 2, 3, 2, 4, 2, 5]
element = 2
count = my_list.count(element)
print(f"{element} occurs {count} times in the list.")

2 occurs 3 times in the list.

In [6]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(my_list))
print("List after removing duplicates:", unique_list)

List after removing duplicates: [1, 2, 3, 4, 5]

In [7]:
unique_list = []
for item in my_list:
    if item not in unique_list:
        unique_list.append(item)
print("List after removing duplicates (order preserved):", unique_list)

List after removing duplicates (order preserved): [1, 2, 3, 4, 5]